*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
body{
    background-image: url(../img2/bubble2.png);
    background-attachment: sticky;
}

$mainColor: rgba(32, 64, 64, 0.2);
$secondaryColor:rgb(248, 72, 8);

.banner{
    width: 100%;
    height: auto;
    margin:10px;
    padding: none;
    border:none;
}
.formatosInternacionales{
    width: auto;
    height: auto;
    padding: 40px;
    margin: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.cajaS{
    width: 89px;
    height: auto;
    &:hover{
        transform:rotateZ(360deg);
        transition:1s;
    }
}
.cajaMd{
    width: 95%;
    height: auto;
    border: 5px;
    border-style: double;
    border-color: black;
    padding:30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
} 
.formulario{
    width: 85%;
    height: auto;
    margin: auto;
    padding: 20px;
    border-color:rgba(32, 64, 64);
    border-style: double;
    border-width: 5px;
    display: flex;
    flex-direction: column; 
       
} 
.btnMd{
    color: blue;
    outline-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

